# showroom.archive.trim.py:
numpy
PySceneDetect
# On Linux and MacOS X, opencv must be compiled from source to get ffmpeg support
# opencv-python

# myonichi yoroshiku, 48pedia 
mwclient  # wikipedia/mediawiki api
romkan    # romaji to kana to romaji

# yaml config file support
# install the requirements anyway so it can support both YAML and JSON
pyyaml

